* {
    font-family: 'Merienda', sans-serif;
}
body {
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDCAB5;
}

.container {
    background-color: #FFFFFF;
    width: 70%;
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back-button {
    font-size: 24px;
    color: black;
    cursor: pointer;
}
.back-button:hover {
    color: rgb(139, 139, 139);
}

.title-section {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    color: rgb(252, 108, 51);
}

.subtitle {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

/* Form Styles */
.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.input-group {
    width: 45%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(252, 108, 51);
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    font-size: 14px;
    color: #191919;
}

textarea {
    resize: none;
    height: 80px;
}

.logo {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

/* Add Button Styles */
.add-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #C0C0C0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.add-button:hover {
    background-color: #A0A0A0;
}

.katebud a {
    color: rgb(255, 144, 100);
    text-decoration: none;
}
.katebud a:hover {
    color: rgb(252, 108, 51);
    text-decoration: underline;
}