* {
  font-family: 'Merienda', sans-serif;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #f6cbc1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  background-color: white;
  width: 700px; /* dari 600px ke 700px */
  max-width: 90%;
  height: 420px; /* sedikit lebih tinggi */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

.back-button a {
  text-decoration: none;
  font-size: 26px;
  color: #f4978e;
  font-weight: bold;
  transition: 0.3s ease;
}

.back-button a:hover {
  color: #fa5c4e;
}

.login-box {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.login-box h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 5px;
}

.subtitle {
  color: #f4978e;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: center;
  color: #878787;
}

form input::placeholder {
  color: #ccc;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #f4978e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #fa5c4e;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: #f4978e;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logo img {
  max-width: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

/* password wrapper */
.toggle-password {
  display: none; /* default: sembunyi */
 
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 40px; /* space buat icon mata */
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
  transition: color 0.2s;
}

.password-wrapper .toggle-password:hover {
  color: #f4978e;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .container {
    margin-top: 100px;
    flex-direction: column-reverse;
    width: 90%;
    height: auto;
    padding: 30px 20px;
  }

  .logo {
    margin-bottom: 20px;
  }

  form input {
    padding: 10px;
    font-size: 14px;
  }

  .password-wrapper .toggle-password {
    font-size: 16px;
    right: 10px;
  }
}
